[filter "lfs"]
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true
	clean = git-lfs clean -- %f
[user]
	name = Henrik Schlichter
	email = henriksc@unity3d.com
[core]
	autocrlf = false
	editor = nvim
[pull]
	rebase = true
[format]
	pretty = %C(Yellow)%h %C(reset)%ad (%C(Green)%cr%C(reset)) %C(Cyan)%an: %C(reset)%s
[log]
	decorate = short
	date = short
[alias]
	st = status -sb
	wt = worktree
	last = log -1 HEAD
[merge]
	renamelimit = 128000
	tool = nvimdiff
[diff]
	tool = nvimdiff
[difftool]
    prompt = true
[difftool "nvimdiff"]
    cmd = "nvim -d \"$LOCAL\" \"$REMOTE\""
    
[push]
	autoSetupRemote = true
[init]
	defaultBranch = master
